@import "./vars.css";

@keyframes fadeInUp{
    0%{
        transform: translateY(40px);
        opacity:0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

/* transition instead of animation because only trigger when scroll and enter viewport*/
.about-section{
    padding: 100px 20px;
    background-color: var(--color-bg);
    color: var(--color-text);
}

.about-content{
    
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-text{
    flex: 1 1 500px;
    padding-right: 2rem;  
    padding-left: 14rem;
    opacity: 0;
    transform: translate(40px);
    transition: all 1s ease-out;
    
}

.about-text.visible{
    opacity: 1;
    transform: translateY(0);
}

.about-text h2{
    font-size: 2rem;
    font-weight: 200;
    padding-bottom: 1.5rem;
}


.about-image{
    flex: 1 1 300px;
    padding: 0.5rem;
    align-items: center;
    opacity: 0;
    transform: translateY(40px);
    transition: all 1s ease-out;
}

.about-image.visible{
    opacity: 1;
    transform: translateY(0);
}

.about-image img {
    width: 100%;
    max-width: 50%;
    height: 300px;
    object-fit:cover;
    border-radius: 20px;
}