@import "./vars.css";

.about-section{
    padding: 200px 20px;
    background-color: var(--color-bg);
    color: var(--color-text);
}

.about-content{
    max-width: 12000px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-text{
    flex: 1 1 500px;
    padding-right: 2rem;  
    padding-left: 10rem;
}

.about-text h2{
    font-size: 2rem;
    font-weight: 200;
    padding-bottom: 1.5rem;
}


.about-image{
    flex: 1 1 300px;
    padding: 0.5rem;
    align-items: center;
    
}

.about-image img {
    width: 100%;
    max-width: 50%;
    height: 300px;
    object-fit:cover;
    border-radius: 20px;
}