@import "./vars.css";


.contact-section{ 
    padding: 200px 20px;
    background-color: var(--color-bg);
    color: var(--color-text);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh; 
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    padding: 200px 20px;
    background-color: var(--color-bg);
    color: var(--color-text);
    text-align: center;
   
} 



.icons{
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 30px 0;
}

.fa-brands.fa-github{
    color: var(--color-purple);
    padding: 20px;
}

.fa-brands.fa-medium{
    color: var(--color-purple);
    padding: 20px;
}

.fa-solid.fa-envelope{
    color: var(--color-purple);
    padding: 20px;
}

.fa-brands.fa-linkedin{
    color: var(--color-purple);
    padding: 20px;
}

.footer {
    /*margin-top: 200px;*/
    border: solid red;
    
}

.footer p {
    justify-content: center;
    font-size: 0.7rem;
}
