@import "./vars.css";

.hero{
    text-align: center;
    padding: 200px 20px;
    background-color: var(--color-bg);
    color: var(--color-text);
}

.hero h1{
    font-size: 4rem; 
    padding:20px;
}

.hero h2{
    text-align: center;
    display: flex;
    justify-content: center; 
}
.hero h3{
    text-align: center;
    padding-bottom: 50px;
}
.gradient-text {
    background: linear-gradient(90deg, var(--color-purple), var(--color-pink));
    background-clip: text;
    -webkit-text-fill-color: transparent; 
}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.cta { /*button*/
    padding: 15px 30px;
    background-color: #1e1e1e;
    border:1px solid var(--color-purple);
    color: var(--color-text);
    border-radius: 40px;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 0 30px var(--color-purple);
    transition: all 0.2s ease;
}

.cta:hover{
    background: var(--color-purple);
}
.hero-buttons .button{
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #007bff;
    color: var(--color-text);
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

