@import "./vars.css";

.work-section{
    background-color: var(--color-bg);
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
    margin:auto;
    padding: 8rem;
}

.work-section h2{
    display: flex;
    align-items: center;
    gap: 0.4rem;
    font-size: 2rem;
    width: 100%;
    text-align: left;
}

.work-section h2::after{
    content: "";
    flex: 1;
    height: 1px;
    background: #8892b0;
    opacity: 0.3;
    max-width: 90%;
}

.work-section h3{
    text-align: left;
    width: 100%;
}

.work-items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2rem;
}

.work-item{
    border: var(--color-text);
    border-radius: 20px;
    display: flex;
    align-items:center;
    flex-direction: column;
    width: 400px;
    gap: 0.2rem;
    margin-bottom: 20px;
    padding: 1rem;
    background-color: rgba(106,90,205,0.2);
}
.work-info{
    flex: 1;
}

.work-info p{
    font-size: 0.8rem;
    padding-bottom: 10px;

}
.work-img img{
    width: 300px;
    height: 200px;
    border: var(--color-purple);
    border-width: 20px;
    object-fit: cover;
    border-radius: 10px;
    padding: 20px;
}

.work-title-container{
    gap: 0.5rem;
    display: flex;
    align-items: center;
    
}

.work-title-container .fa-brands fa-github{
    font-size: 3rem;
    color: var(--color-text);
}
